*.log
*.out
*.pdf
*.toc
*fdb_latexmk
programm_files/luceneIndex
.idea
*.png
.*
*.pyc

Diploma_Java/bin/
Diploma_Java/target/
Diploma_Java/.idea/
scala/target/
scala/.idea_modules/
scala/.idea/

!.gitignore