*.log
*.out
*.pdf
*.toc
*fdb_latexmk
programm_files/luceneIndex
.idea
*.png
.*
*.pyc

programm_files/Diploma_Java/bin/
programm_files/Diploma_Java/target/
programm_files/Diploma_Java/.idea/
programm_files/scala/target/
programm_files/scala/.idea_modules/
programm_files/scala/.idea/

!.gitignore